# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_retail_db?schema=public"

# Auth.js / NextAuth Secrets
AUTH_SECRET="supersecret_jwt_auth_key_123456789_change_in_production"
NEXTAUTH_SECRET="supersecret_jwt_auth_key_123456789_change_in_production"
NEXTAUTH_URL="http://localhost:3000"

# Application Environment
NODE_ENV="development"
